#!/bin/bash
# iptables firewall.
#
# @author Jeff Geerling
# @modified Gekko Geko

# No spoofing.
if [ -e /proc/sys/net/ipv4/conf/all/rp_filter ]; then
	for filter in /proc/sys/net/ipv4/conf/*/rp_filter; do
		echo 1 >$filter
	done
fi

# Set the default rules.
iptables -P INPUT {{ firewall_input_policy }}
iptables -P FORWARD {{ firewall_forward_policy }}
iptables -P OUTPUT {{ firewall_output_policy }}

ip6tables -P INPUT {{ firewall_ipv6_input_policy }}
ip6tables -P FORWARD {{ firewall_ipv6_forward_policy }}
ip6tables -P OUTPUT {{ firewall_ipv6_output_policy }}

{% if firewall_flush_rules_and_chains %}
# Remove all rules and chains.
iptables -t nat -F
iptables -t mangle -F
iptables -F
iptables -X
{% endif %}

# Accept traffic from loopback interface (localhost).
iptables -A INPUT -i lo -j ACCEPT
iptables -A INPUT -s 127.0.0.0/8 -j DROP
iptables -A OUTPUT -o lo -j ACCEPT

# Forwarded ports.
{# Add a rule for each forwarded port #}
{% for forwarded_port in firewall_forwarded_tcp_ports %}
iptables -t nat -I PREROUTING -p tcp --dport {{ forwarded_port.src }} -j REDIRECT --to-port {{ forwarded_port.dest }}
iptables -t nat -I OUTPUT -p tcp -o lo --dport {{ forwarded_port.src }} -j REDIRECT --to-port {{ forwarded_port.dest }}
{% endfor %}
{% for forwarded_port in firewall_forwarded_udp_ports %}
iptables -t nat -I PREROUTING -p udp --dport {{ forwarded_port.src }} -j REDIRECT --to-port {{ forwarded_port.dest }}
iptables -t nat -I OUTPUT -p udp -o lo --dport {{ forwarded_port.src }} -j REDIRECT --to-port {{ forwarded_port.dest }}
{% endfor %}

# Open SSH.
iptables -A INPUT -i {{ firewall_iface }} -p tcp --dport 22 -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A OUTPUT -o {{ firewall_iface }} -p tcp --sport 22 -m state --state ESTABLISHED -j ACCEPT

# Enable outgoing HTTPS/HTTP and DNS
iptables -A OUTPUT -o {{ firewall_iface }} -p tcp --dport 443 -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A OUTPUT -o {{ firewall_iface }} -p tcp --dport 80 -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A OUTPUT -o {{ firewall_iface }} -p udp --dport 53 -m state --state NEW,ESTABLISHED -j ACCEPT

# Open ports.
{# Add a rule for each open port #}
{% for port in firewall_allowed_tcp_ports %}
iptables -A INPUT -i {{ firewall_iface }} -p tcp --dport {{ port }} -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A OUTPUT -o {{ firewall_iface }} -p tcp --sport {{ port }} -m state --state ESTABLISHED -j ACCEPT
{% endfor %}
{% for port in firewall_allowed_udp_ports %}
iptables -A INPUT -p udp -m udp --dport {{ port }} -j ACCEPT
{% endfor %}

# Allow NTP traffic for time synchronization.
iptables -A OUTPUT -p udp --dport 123 -j ACCEPT
iptables -A INPUT -p udp --sport 123 -j ACCEPT

# Additional custom rules.
{% for rule in firewall_additional_rules %}
{{ rule }}
{% endfor %}

# Allow established connections:
iptables -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Log EVERYTHING (ONLY for Debug).
# iptables -A INPUT -j LOG

# Log icmp ping requests.
iptables -A INPUT -p icmp --icmp-type echo-request -j LOG --log-level 7 --log-prefix "Ping request: "

{% if firewall_log_dropped_packets %}
# Log other incoming requests (all of which are dropped) at 15/minute max.
iptables -A INPUT -m limit --limit 15/minute -j LOG --log-level 7 --log-prefix "Dropped by firewall IN: "
iptables -A OUTPUT -m limit --limit 15/minute -j LOG --log-level 7 --log-prefix "Dropped by firewall OUT: "
{% endif %}

# Drop all other traffic.
iptables -A INPUT -j DROP
iptables -A OUTPUT -j DROP

{% if firewall_enable_ipv6 %}
# Configure IPv6 if ip6tables is present.
if [ -x "$(which ip6tables 2>/dev/null)" ]; then

	{% if firewall_flush_rules_and_chains %}
	# Remove all rules and chains.
	ip6tables -F
	ip6tables -X
	{% endif %}

	# Accept traffic from loopback interface (localhost).
	ip6tables -A INPUT -i lo -j ACCEPT

	# Open ports.
	{# Add a rule for each open port #}
	{% for port in firewall_allowed_tcp_ports %}
	ip6tables -A INPUT -p tcp -m tcp --dport {{ port }} -j ACCEPT
	{% endfor %}
	{% for port in firewall_allowed_udp_ports %}
	ip6tables -A INPUT -p udp -m udp --dport {{ port }} -j ACCEPT
	{% endfor %}

	# Accept ICMPv6 message types necessary for SLAAC plus echo request/reply
	ip6tables -A INPUT -p ipv6-icmp --icmpv6-type 128 -j ACCEPT # Echo Request
	ip6tables -A INPUT -p ipv6-icmp --icmpv6-type 129 -j ACCEPT # Echo Reply
	ip6tables -A INPUT -p ipv6-icmp --icmpv6-type 133 -j ACCEPT # Router Solicitation
	ip6tables -A INPUT -p ipv6-icmp --icmpv6-type 134 -j ACCEPT # Router Advertisement
	ip6tables -A INPUT -p ipv6-icmp --icmpv6-type 135 -j ACCEPT # Neighbor Solicitation
	ip6tables -A INPUT -p ipv6-icmp --icmpv6-type 136 -j ACCEPT # Neighbor Advertisement

	# Allow NTP traffic for time synchronization.
	ip6tables -A OUTPUT -p udp --dport 123 -j ACCEPT
	ip6tables -A INPUT -p udp --sport 123 -j ACCEPT

	# Additional custom rules.
	{% for rule in firewall_ip6_additional_rules %}
	{{ rule }}
	{% endfor %}

	# Allow established connections:
	ip6tables -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

	# Log EVERYTHING (ONLY for Debug).
	# ip6tables -A INPUT -j LOG

	{% if firewall_log_dropped_packets %}
	# Log other incoming requests (all of which are dropped) at 15/minute max.
	ip6tables -A INPUT -m limit --limit 15/minute -j LOG --log-level 7 --log-prefix "Dropped by firewall: "
	{% endif %}

	# Drop all other traffic.
	ip6tables -A INPUT -j DROP

fi
{% endif %}
